.trip {
  p {
    margin-bottom: 0;
  }

  padding: .5rem ;
  background-color: aqua;
  border: 1px solid black;
  display: flex;

  &__carImg {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        border-radius: 10px;
        width: 100%;
      aspect-ratio: 4/3;
    }
  }

  &__info {
    &__driver {
      display: flex;

      &__img {
        display: flex;
        align-items: center;
        img {
          max-width: 40px;
          min-width: 30px;
          aspect-ratio: 1;
          border-radius: 50%;
        }
      }

      &__info {
        margin-left: .5rem;

        .driverName {
          font-size: 1.1rem;
          font-weight: 600;
        }
      }
    }
  }
}
.priceBox{
    background-color: #f0faff;
    text-align: center;
    border: #b9d3e0 1px solid;

    &__price{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 18px 10px;
        .current__price{
            font-size: calc(20px + 12 * (100vw / 1920));
        }
    }

    &__time{
        border-bottom: 1px solid #b9d3e0;
        height: 50px;
        line-height: 50px;
    }
    .btn-order{
        padding: 0 10px;
        text-transform: uppercase;
        height: 50px;
        cursor: pointer;
        color: white;
        border: none;
        margin-top: 15px;
        background-color: #ff9b22;
        font-size: calc(14px + 4 * (100vw / 1920));
        &:hover{
            background-color: #ffa73c;
        }
    }
  
}

.trips{
    overflow-y: scroll;
    max-height: 97vh;
}